# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Floating-point types/Area of a circle/out/
/Topics/Floating-point types/Area of a circle/out/production/classes/
/Topics/Floating-point types/Difference between two doubles/out/
/Topics/Floating-point types/Difference between two doubles/out/production/classes/
/Topics/Floating-point types/Evaluate an expression/out/
/Topics/Floating-point types/Evaluate an expression/out/production/classes/
/Topics/Floating-point types/Find X/out/
/Topics/Floating-point types/Find X/out/production/classes/
/Topics/Floating-point types/Liquid pressure/out/
/Topics/Floating-point types/Liquid pressure/out/production/classes/
/Topics/Taming exceptions/Handle arithmetic exception/out/
/Topics/Taming exceptions/Handle arithmetic exception/out/production/classes/
/Topics/Taming exceptions/Handle number format exception/out/
/Topics/Taming exceptions/Handle number format exception/out/production/classes/
/Topics/Taming exceptions/Handle string exception/out/
/Topics/Taming exceptions/Handle string exception/out/production/classes/
/Topics/The try-catch statement/Integer division/out/
/Topics/The try-catch statement/Integer division/out/production/classes/
/Topics/The try-catch-finally statement/Braking distance/out/
/Topics/The try-catch-finally statement/Braking distance/out/production/classes/
/Topics/The try-catch-finally statement/Parting words/out/
/Topics/The try-catch-finally statement/Parting words/out/production/classes/
/Topics/The try-catch-finally statement/The Answer is/out/
/Topics/The try-catch-finally statement/The Answer is/out/production/classes/